{% extends "accounts/sing_base.html" %}
{% block content %}
{% load widget_tweaks %}
{% load static %}


<form enctype="multipart/form-data" class="bg-white p-5 card m-auto" action="" method="POST">
    <div class="rounded-circle mx-auto"  style="width: 100px; height: 100px; background-color: #47005f;">
        <i class="fas fa-pencil-ruler text-white w-100 h-100 d-flex align-items-center justify-content-center" style="font-size: 3em;"></i>
    </div>
    <h1 class="h6 mt-3 text-dark font-weight-bold">お馬ちゃんドットコム<br>利用規約</h1>
    <p class="text-left">
        <small class="text-secondary">
            入力したメールアドレスに本登録用URLを送信します。
            URLから本登録を完成させてください！
        </small>
    </p>
        <a class="mt-5 mb-3 text-muted" href="{{request.META.HTTP_REFERER}}"><small>戻る</small></a>
</form>



{% endblock %}