{% load static %}
{% load widget_tweaks %}  
{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link href="{% static 'mdeditor/css/editormd.min.css' %}" rel="stylesheet">
  <link href="{% static 'mdeditor/css/editormd.preview.css' %}" rel="stylesheet">  

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
</head>
<nav class="navbar py-1 pb-md-0 navbar-expand-xl navbar-dark shadow-sm py-0 dark-gradiate">
  <a class="navbar-brand font-weight-bold mr-auto mx-md-2 text-warning" href="/"><i class="fas fa-wine-glass-alt"></i>&nbsp;&nbsp;Koneta net</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarsExample06">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mx-1">
          <a class="nav-link copperplate" href="/"><small class="font-weight-bold">ホーム</small></a>
      </li>
      <li class="nav-item mx-1 ">
        <a class="nav-link copperplate" href="{% url 'add' %}"><small class="font-weight-bold">お題を追加する</small></a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item mx-1 active ">
        <a class="nav-link copperplate" href="{% url 'logout' %}"><small class="font-weight-bold">ログアウト</small><span class="sr-only">(current)</span></a>
      </li>
      {% else %}
      <li class="nav-item mx-1 active ">
        <a class="nav-link copperplate" href="{% url 'login' %}"><small class="font-weight-bold">ログイン</small><span class="sr-only">(current)</span></a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
<body class="text-center">
  <main class="form-signin d-flex align-items-center">
    {% block content %}
    {% endblock %} 
  </main>
</body>

{% block script %}
{% endblock %}
<footer class="row px-3 py-5 mt-5 mx-0 bg-white shadow text-left">
  <div class="col-md pb-3 p-md-5">
    <ul class="row m-0">  
      <a href="https://www.instagram.com/toshi_kawhi/"><img src="{%static 'img/Instagram.png'%}" class="mr-3" alt="" height="34" style="object-fit: cover;"></a>
      <a href="https://twitter.com/Kydolex"><img src="{%static 'img/twitter.png'%}" class="mx-3" alt="" height="34" style="object-fit: cover;"></a>  
      <a href=""> <img src="{%static 'img/youtube.png'%}" class="mx-3" alt="" height="34" style="object-fit: cover;"></a>
    </ul>
    <h6 class="text-dark pt-4 mb-0 font-weight-bold">Koneta.net <br><small><small class="font-weight-bold">小ネタネット</small></small></h6>
    <h6 class="text-muted">
      <small class="font-weight-bold">koneta.net <br>by TOSHI KAWAI</small>
    </h6>
  </div>
  <div class="col-md pb-3 "></div>
  <div class="col-md pb-3 "></div>
  <div class="col-md pb-3 "></div>
  
  <div class="col-md pb-3 ml-auto">
    <h5>Site Map</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">ホーム</a></li>
      <li class="nav-item mb-2"><a href="{% url 'add' %}" class="nav-link p-0 text-muted">お題を追加する</a></li>
      {% if user.is_authenticated %}
      <li class="nav-item mb-2"><a href="{% url 'logout' %}" class="nav-link p-0 text-muted">ログアウト</a></li>
      <li class="nav-item mb-2"><a href="{% url 'add_admin' %}" class="nav-link p-0 text-muted">Admin</a></li>
      {% else %}
      <li class="nav-item mb-2"><a href="{% url 'login' %}" class="nav-link p-0 text-muted">ログイン</a></li>
      {% endif %}
    </ul>
  </div>

</footer>
<div class="col-12 py-3 dark-gradiate">
    <a class="a_none text-center w-100 mb-0 pb-0 font-weight-bold" style="display: inline-block; color: #ffffff;" href="oumachan.com">
     ©︎ https://koneta.net/
    </a>
</div>
</html>
