* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f8f8f8;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
main {
    flex: 1;
    margin-top: 60px;
}
.main{
  display: flex;
  flex-wrap: normal;
  flex-direction: column;
  width: 100% !important;  
}
.a_none{
    text-decoration: none !important;
    color: #171717;
  }
.a_none:hover{
    text-decoration: none !important;
}
.dark-gradiate{
    background: linear-gradient(95deg,#191919,#383838);
}
.orange-gradiate{
    background-color: #ffb300;
}
.start-gradiate{
    background: linear-gradient(229deg,#f6dd00,#ffb300);
    border: none;
    color: #ffffff;
    font-size: 1.2em!important;
    border-radius: 10px;
}

.main-box{
    width: 100%;
    aspect-ratio: 7 / 2;
    max-height: 500px;
    background-color: #f8f8f8;
}
@media (max-width: 800px) {
    .flex-shrink-0{
      display: none !important;
    }
    .main-box{
        width: 100%;
        aspect-ratio: 1 / 1;
        max-height: 500px;
    }

}

.form-check-input{
    box-sizing: border-box;
    padding: 0;
    width: 20px !important;
    height: 20px !important;
    margin: 20px auto 5px auto!important;
  }


.form-check-input2{
    box-sizing: border-box;
    padding: 0;
    width: 25px !important;
    height: 25px !important;
  }

table {
    border-collapse: collapse;
  }
th{
    padding: 0 1em;
    border: 1px solid #d4d4d4;
    color: #343434;
    text-align: center;
}
td{
    padding: 0 1em;
    border: 1px solid #d4d4d4;
    color: #5b5b5b;
    text-align: center;
}