* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f8f8f8;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
.main{
  display: flex;
  flex-wrap: normal;
  flex-direction: column;
  width: 100% !important;  
}
.a_none{
    text-decoration: none !important;
    color: #171717;
  }
.a_none:hover{
    text-decoration: none !important;
}
.dark-gradiate{
    background: linear-gradient(95deg,#191919,#383838);
}
.orange-gradiate{
    background-color: #ffb300;
}
.start-gradiate{
    background: linear-gradient(229deg,#f6dd00,#ffb300);
    border: none;
    color: #ffffff;
    font-size: 1.2em!important;
    border-radius: 10px;
}

.main-box{
    width: 100%;
    aspect-ratio: 7 / 2;
    max-height: 500px;
    background-color: #f8f8f8;
}
@media (max-width: 800px) {
    .flex-shrink-0{
      display: none !important;
    }
    .main-box{
        width: 100%;
        aspect-ratio: 1 / 1;
        max-height: 500px;
    }

}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    width: 20px !important;
    height: 20px !important;
    margin: 20px auto 5px auto!important;
}
  


.form-check-input2{
    box-sizing: border-box;
    padding: 0;
    width: 25px !important;
    height: 25px !important;
  }

table {
    border-collapse: collapse;
  }
th{
    padding: 0 1em;
    border: 1px solid #d4d4d4;
    color: #343434;
    text-align: center;
}
td{
    padding: 0 1em;
    border: 1px solid #d4d4d4;
    color: #5b5b5b;
    text-align: center;
}

.bg-dark-gr-filter{
  background: linear-gradient(-135deg,#131313,#0000001d,#000000c7);
}


.font_change_2{
    position:relative;
    color: transparent;
    -webkit-text-stroke: 1.5px #ffe600;
    text-shadow: 0 0 50px #ffe600;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #fffb00,
    0 0 82px #fffb00,
    0 0 92px #fffb00,
    0 0 102px #fffb00,
    0 0 151px #fffb00;
    ;
    animation: font_change_key_2 1s infinite alternate;
  }
  @keyframes font_change_key_2 { 
    0% {
      color: #ff9500;
    }
    80% {
      color: #9c5b00;
    }
    99% {  
      color: #ff9500;
      text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #fffb00,
      0 0 82px #fffb00,
      0 0 92px #fffb00,
      0 0 102px #fffb00,
      0 0 151px #fffb00;
      ;
    }
    100% {  
      color: #ff9500;
      text-shadow:
      0 0 0px #fff,
      0 0 0px #fff,
      0 0 0px #fff,
      0 0 0px #fffb00,
      0 0 0px #fffb00,
      0 0 0px #fffb00,
      0 0 0px #fffb00,
      0 0 0px #fffb00;
      ;
    }
  }
  
  .font_change_3{
    position:relative;
    overflow: overlay;
    color: transparent;
    -webkit-text-stroke: 1.5px #ffe600;
    filter:
    drop-shadow(0 0 1px #fff) 
    drop-shadow(0 0 2px #fff)
    drop-shadow(0 0 3px #fff)
    drop-shadow(0 0 4px #fff)
    drop-shadow(0 0 20px #fffb00)
    drop-shadow(0 0 40px #fffb00)
    drop-shadow(0 0 80px #fffb00);
    /* drop-shadow(0 0 32px #fffb00)
    drop-shadow(0 0 42px #fffb00)
    drop-shadow(0 0 52px #fffb00) */
    /* drop-shadow(0 0 91px #fffb00); */
  
    animation: font_change_key_3 1s infinite alternate;
  }
  @keyframes font_change_key_3 { 
    0% {
      fill: #ff9500;
    }
    80% {
      fill: #9c5b00;
    }
    99% {  
      fill: #ff9500;
      filter:
      drop-shadow(0 0 1px #fff) 
      drop-shadow(0 0 2px #fff)
      drop-shadow(0 0 3px #fff)
      drop-shadow(0 0 4px #fff)
      drop-shadow(0 0 20px #fffb00)
      drop-shadow(0 0 40px #fffb00)
      drop-shadow(0 0 80px #fffb00);
      /* drop-shadow(0 0 32px #fffb00)
      drop-shadow(0 0 42px #fffb00)
      drop-shadow(0 0 52px #fffb00) */
      /* drop-shadow(0 0 91px #fffb00); */
      /* drop-shadow(0 0 32px #fffb00)
      drop-shadow(0 0 42px #fffb00)
      drop-shadow(0 0 52px #fffb00) */
      /* drop-shadow(0 0 91px #fffb00); */
    }
    100% {  
      color: #ff9500;
      filter:drop-shadow(0 0 0px #fffb00);
    }
  }